@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bebas Neue Regular";
    src: url("/BebasNeue-Regular.ttf");
}

:root {
    --mainFont: "Bebas Neue Regular";
    --mainTextColor: white;
    --secondTextColor: black;
    --bgColor: red;
}

body {
    background-color: var(--bgColor);
}

h1 {
    font-family: var(--mainFont);
    text-shadow: 10px 0px 0px var(--secondTextColor);
    color: var(--mainTextColor);
    letter-spacing: 0.5rem;
    font-size: 7rem;
}
