#tableTitles {
  font-size: clamp(1rem, 2vw, 2.25rem);
  font-family: var(--mainFont);
}

.lTableGridItem {
  display: flex;
  flex-direction: column;
}

.l-table-index-box {
  display: flex;
  justify-content: space-evenly;
}

.emblem {
  transform: scale(0.5);
}

.emblem h2 {
  font-size: 1rem;
}
