.lTableCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lTableGrid {
  display: grid;
  background-color: var(--mainTextColor);
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  color: black;
  height: 500px;
  /* width: clamp(100%, 100vw, 1200px); */
  width: 100%;
  border-radius: 20px;
  overflow-y: scroll;
  text-align: center;
}

.loadingText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
